[submodule "libs/crypto3"]
	path = libs/crypto3
	url = https://github.com/NilFoundation/crypto3.git
[submodule "libs/blueprint"]
	path = libs/blueprint
	url = git@github.com:alloc-init/zkllvm-blueprint.git
